# copy this file to /etc/ubr/config
# these are the defaults that will be used
# additional config files can be passed to the ubr script and 
# these will be sourced also. For example:
# ./ubr.sh custom-mysql.conf custom-aws.conf
# the ubr script can also be given once-off values 

AWS_ACCESS_KEY_ID=123
AWS_SECRET_ACCESS_KEY=123

MYSQL_USER="$USER" # exception. we always pass this user to mysqld
MYSQL_PWD="secretpassword"
