services:
  lint:
    build:
      context: .
    command: ["mise", "lint"]
    depends_on:
      mysql:
        condition: service_healthy
      postgres:
        condition: service_healthy
  mysql:
    image: percona/percona-server:${MYSQL_VERSION:-8.0}
    environment:
      - MYSQL_ROOT_PASSWORD=mysqlpassword
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    ports:
      - 3306:3306
  postgres:
    image: postgres:${POSTGRES_VERSION:-13}
    environment:
      - POSTGRES_PASSWORD=pgpassword
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "public"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    ports:
      - 5432:5432
  test:
    build:
      context: .
      args:
        POSTGRES_VERSION: ${POSTGRES_VERSION:-13}
    environment:
      PGPASSFILE: "./.pgpass.test"
      UBR_CFG_FILE: test.cfg
    depends_on:
      mysql:
        condition: service_healthy
      postgres:
        condition: service_healthy
