# file generated 2021-03-26 - see update-dependencies.sh
asn1crypto==1.4.0
astroid==1.6.6
attrs==20.3.0
boto3==1.17.37
botocore==1.20.37
coverage==5.5
glob2==0.7
importlib-metadata==3.7.3
isort==5.8.0
jmespath==0.10.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
more-itertools==8.7.0
packaging==20.9
pg8000==1.18.0
pgpasslib==1.1.0
pluggy==0.13.1
py==1.10.0
pyflakes==2.3.1
pylint==1.9.5
PyMySQL==0.10.1
pyparsing==2.4.7
pytest==5.4.3
pytest-cov==2.11.1
python-dateutil==2.8.1
python-json-logger==0.1.11
PyYAML==5.4.1
s3transfer==0.3.6
schema==0.6.8
scramp==1.2.2
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.4.1
